@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  line-height: 1.6em;
}
#menu-bar {
  width: 50px;
  height: 10px;
  margin: 50px 10px 10px 20px;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}
.bar {
  background-color: red;
  border-radius: 10%;
  transition: 2.5s;
}
#bar1 {
  width: 40px;
  height: 10px;
  transform: translateY(-4px);
}
#bar2 {
  width: 40px;
  height: 10px;
}
#bar3 {
  width: 40px;
  height: 10px;
  transform: translateY(4px);
}
.change .bar {
  background: white;
}
.change #bar1 {
  transform: translateY(6px);
  rotate: z(45deg);
}
.change#bar2 {
  opacity: 0;
}
.change #bar3 {
  transform: translateY(-15px);
  rotate: z(-45deg);
}
.nav li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.nav li:hover {
  color: white;
  background-color: red;
  padding-left: 10px;
}
.nav li {
  margin: 20px 10px 10px 20px;
  padding-top: 10px;
  list-style: none;
}
.nav {
  display: none;
}
.change-btn {
  display: block;
}

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("/img/tron.jpg") center/cover no-repeat fixed;
}
.tron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.tron .big {
  color: white;
  font-size: 47px;
}
.tron .btn {
  font-weight: 500px;
  font-size: 1.3em;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: red;
  color: white;
  padding: 11px 26px;
  border-radius: 178px;
  cursor: pointer;
  margin-top: 2em;
}
.tron .btn:hover {
  background-color: white;
  color: red;
}
#info {
  padding: 50px;
}
.info {
  margin: 39px 0;
  display: flex;
}
.info .fas {
  color: red;
  font-size: 2em;

  margin-right: 1.2em;
}

h2 {
  font-size: 36px;
  margin-bottom: 1em;
  color: red;
}
.pp {
  color: red;
}
.menu-image {
  min-height: 80vh;
  background: url(/img/menu-image.jpg) center/cover fixed no-repeat;
}
.menu-title {
  min-height: 80vh;
  align-items: center;
  background-color: red;
  color: white;
  columns: #000;
  padding: 40px 0;
}
.menu-text-center {
  width: 90%;
  margin: 0 auto;
}
.menu-title h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.menu-title p {
  margin: 20px 0;
  line-height: 2;
}
.menu-title a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 20px;
  border-radius: 200px;
  font-weight: 500;
  background-color: white;
  color: red;
  cursor: pointer;
}
.menu-title a:hover {
  color: white;
  background-color: red;
  border: 2px white solid;
}
@media screen and (min-width: 576px) {
  .content-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .info {
    flex: 0 0 calc(50% - 16px);
  }
}
@media screen and (min-width: 972px) {
  .info {
    flex: 0 0 calc(33.3% - 16px);
  }
}
@media screen and (min-width: 776px) {
  .menu {
    display: flex;
  }
  .menu-title {
    flex: 0 0 30%;
  }
  .menu-image {
    flex: 0 0 70%;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
  }
  .menu {
    background-color: red;
  }
}
#social-icons {
  height: 150px;
  background: #fff;
  text-align: center;
  padding: 50px 0px 50px 0px;
}
#social-icons a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 5px;
  font-size: 40px;
  border-radius: 5px;
}
#social-icons a:hover {
  transform: translateY(-15px);
}
.fa-instagram {
  color: #f02c6d;
}
.fa-facebook {
  color: #375699;
}
.fa-twitter {
  color: #2f9cf0;
}
.fa-youtube {
  color: #c4302b;
}
.number {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("/img/soup.jpg") center/cover no-repeat fixed;
  padding: 60px 0px;
  color: #fff;
}
.number p {
  font-size: 30px;
  font-weight: 600;
}
.number:hover {
  color: red;
}
.number .fas {
  font-size: 60px;
  margin: 20px 0;
}
.number h3 {
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  #numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  #numbers {
    grid-template-columns: repeat(4, 1fr);
  }
}
#food {
  padding: 24px;
}
.food-container {
  max-width: 90vh;
  margin: 0 auto;
}
.food-card {
  position: relative;
  background: linear-gradient(rgba(205, 31, 0, 0.7), rgba(205, 31, 0, 0.7));
  margin: 20px 0;
  color: white;
  overflow: hidden;
  padding: 3px;
  border-radius: 14px;
  border: 1px solid red;
  box-shadow: 2px 3px 1px 1px #cd0000;
}
#food img {
  width: 100%;
  min-height: 100%;
  display: block;
  transition: transform 4s;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 4s;
}
.img-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  font-size: 20px;
  opacity: 0;
  color: #000;
  transition: opacity 4s;
}
.img-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.food-card:hover img {
  opacity: 0.4;
  transform: scale(1.3);
}
.food-card:hover .img-text,
.food-card:hover .img-footer {
  opacity: 1;
}
.food-btn {
  display: inline-block;
  background: black;
  text-decoration: none;
  text-transform: capitalize;
  padding: 12px 32px;
  color: white;
  font-weight: 500;
  border-radius: 179px;
  cursor: pointer;
  margin-top: 16px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  outline: none;
}
.food-btn:hover {
  color: red;
  background-color: white;
  border: black;
  outline: none;
}
.fas {
  font-size: 40px;
}
@media screen and (min-width: 576px) {
  .food-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }
}
@media screen and (min-width: 992px) {
  .food-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
  }
}
.food-card h1 {
  color: white;
}

.ftcont {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 12px;
  border-top: 3px white solid;
}
